/* Computer */
.grid_1 { width: 6.5%; } 
.grid_2 { width: 15%; } 
.grid_3 { width: 23.5%; } 
.grid_4 { width: 32%; } 
.grid_5 { width: 40.5%; }
.grid_6 { width: 49%; } 
.grid_7 { width: 57.5%; } 
.grid_8 { width: 66%; } 
.grid_9 { width: 74.5%; } 
.grid_10 { width: 83%; } 
.grid_11 { width: 91.5%; } 
.grid_12 { width: 100%; } 

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 20px 20px 0;
	float: left;
	display: block;
}

.alpha			{margin-left:0;}
.omega			{margin-right:0;}
.gallery-list 	{margin:0;padding:0;}
.little_respond {display:none;}

.container{
	width: 1000px;
	max-width: 1000px;
	margin: auto;
	
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{position:relative;z-index:99;clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

@media only screen and (min-width: 1025px) {
	#slide12 h5 {padding-left:340px;}
	
}

@media only screen and (max-width: 1024px) {
	.slide{background-attachment: scroll;background-position:0 0 !important;
	}
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {	
	.gallery-list .omega {margin-right:10px;}
	
	.filtr_bg {width:600px;margin-left:-300px;}
	.center_bord {width:100%;}
	
	#slide1 span {font-size:82px;line-height:70px;padding-left:10px;letter-spacing:12px;margin-left:-8px;}
	#slide1 h1 {font-size:171px;line-height:140px;padding-left:0;}
	#slide1 h3 {font-size:101px;line-height:80px;padding-left:0;}
	#slide1 p {font-size:60px;line-height:50px;padding-left:8px;letter-spacing:13px;margin-left:0px;}
	
	.padding_slide1 {padding:150px 0 30px;}
	
	.pers_inf li span {width:130px;}
	
	.ca-menu li {min-height:310px;}
	
	.servc_block {min-height:150px;}
	
	.accordion h3 span {font-size:16px;}
	
	.left_bord2, .right_bord2 {display:none;}
	
	
	#slide12 h5 {padding-left:340px;}

	
/* _______________ Gallery ________________ */	
	
/* ______________ //Gallery _______________ */	
/* ___________ SERV_BLOCK __________ */
	.servc_block p {font-size:28px;}
	
/* __________ //SERV_BLOCK _________ */

/* _____________ menu ______________ */
	ul.navigation {width:100%;}
	.navigation li {width:120px;}
	.navigation li:hover, .navigation .active {border-bottom:3px solid #c84942;}
	
	.ph-line-nav .effect {display:none;}
/* ____________ //menu _____________ */
	
	.container { width: 724px; }
	.container .alpha        { margin-left: 0; margin-right: 5px; }
	.container .omega        { margin-right: 0; }
	.gallery-list .omega {margin-right:10px;}
	.container .respond_pad {padding-right:20px;}
	
	.grid_3			{ width: 166px; }
	.grid_4			{ width: 228px; }
	.grid_5      		{ width: 290px; }
	.grid_6      		{ width: 352px; }
	.grid_7   		{ width: 414px; }
	.grid_8   		{ width: 475px; }
	.grid_9			{ width: 538px; }
	.grid_12		{ width: 724px; }
}

@media only screen and (max-width: 766px) {
/* _______ RESPONS_MENU _________ */
	.btn_dropdown {display:block;		
	}
	ul.navigation li {float:none;width:100%;text-align:left;padding:9px 0 7px 20px;margin:0;color:#343434;}
	.navigation li:hover, .navigation .active {
		color:#fff;
		background:#c84942;
		border-bottom:1px solid #616161;
	}
	.navigation {
		display:none;
		left:0;
		top:7px;
		width:160px;
		background:#fff;
		border-radius:5px;
		box-shadow:0 0 4px #000;
	}
	
	ul.navigation {width:200px;padding:0;margin:0;}
	

	
	.ph-line-nav .effect {display:none;}
/* ______ //RESPONS_MENU ________ */
	
	h2 {font-size:45px;line-height:58px;}
	
	.accordion h3 span {font-size:16px;}
	
	#slide12 .foto {float:none;}
	#slide12 h5 {font-size:26px;}

/* _______________ JCAROUSEL ________________ */

/* ______________ //JCAROUSEL _______________ */

	.inset_shadow {top:76px;bottom:0;}
	
	.menu {position:fixed;top:0;margin-top:0 !important;}
	#undefined-sticky-wrapper {height:0 !important;}
	
	
	
}

@media only screen and (min-width: 480px) and (max-width: 766px) {
	h1 {font-size:46px;line-height:115px;padding-bottom:0;}
	
	#logo {text-align:center;}
	
	.padding_slide1 {padding:188px 0 100px;}
	
	.filtr_bg {width:420px;margin-left:-210px;}
	.center_bord {width:100%;}
	#slide1 span {font-size:40px;line-height:30px;padding-left:0px;letter-spacing:0px;margin-left:0px;}
	#slide1 h1 {font-size:120px;line-height:100px;padding-left:0;}
	#slide1 h3 {font-size:66px;line-height:60px;padding-left:0;}
	#slide1 p {font-size:40px;line-height:35px;padding-left:0;letter-spacing:0;margin-left:0px;}
	
	#slide1 .button {margin:50px auto 0;}
	
	.contact_form textarea {width:93%;}

/* _____________ menu ______________ */	
	#nav {margin:0;}

/* ____________ //menu _____________ */	

/* _______________ JCAROUSEL ________________ */
	
/* ______________ //JCAROUSEL _______________ */

	.container { width: 420px; }
	
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {width:420px;}
	
	.fright{float:none;}
	.fleft{float:none;}
	
}

@media screen and (max-width : 479px) {	
	.filtr_bg {margin-top:85px !important;}
	
	
	h2 {font-size:40px;line-height:50px;margin:0;}
	h4 {font-size:22px;line-height:28px;}
	
	#logo {text-align:center;}
	#logo img {width:130px;margin-top:10px;}
	
	
	.padding_slide1 {padding:188px 0 100px;}

	.filtr_bg {width:300px;margin-left:-150px;}
	.center_bord {width:100%;}
	#slide1 span {font-size:40px;line-height:30px;padding-left:0px;letter-spacing:0px;margin-left:0px;}
	#slide1 h1 {font-size:84px;line-height:80px;padding-left:0;}
	#slide1 h3 {font-size:40px;line-height:35px;padding-left:0;}
	#slide1 p {font-size:31px;line-height:30px;padding-left:0;letter-spacing:0;margin-left:0px;}
	#slide1 .button {margin:40px auto 0;}
	#slide1 .button:hover {margin:41px auto 0;}
	
	.ca-menu li {min-height:300px;}
	
	.educ_block p {font-size:16px;}
	
	.pers_inf li {font-size:12px;}
	.pers_inf li span {width:110px;}
	
	
	.accordion h3 span {margin-left:75px;}
	.accordion .accord_cont, #slide8 .accordion .accord_cont {margin-left:0;padding-right:11px;}
	.ac_date {font-size:16px;}
	
	#slide8 .accordion h3 span {margin-left:115px;}
	
/* _______________ JCAROUSEL ________________ */
	
/* ______________ //JCAROUSEL _______________ */

/* ___________ SERV_BLOCK __________ */
	
		
/* __________ //SERV_BLOCK _________ */
/* _____________ menu ______________ */
	.menu {position:fixed;}
	
	#nav {margin:0;}
/* ____________ //menu _____________ */	
	.container { width: 300px; }

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width:300px;
	}
	
	.fright{float:none;}
	.fleft{float:none;}

}

@media screen and (max-width : 399px) {	
	.btn_dropdown {margin-right:3px;}
	
	
	.gallery-list {width:270px;margin-left:15px !important;}
	
	
	#map_block iframe {height:300px !important;}
	
	
	.contact_form input[type="text"], .contact_form textarea {width:88%;}
	
	
	.container { width: 295px; }

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width:295px;
	}
	
}














