/* 
    Document   : table
    Created on : Sep 15, 2013, 2:23:27 PM
    Author     : Hal 9000
    Description:
        Purpose of the stylesheet follows:

        Landscape phone to portrait tablet
*/

@media (max-width: 480px) { 

    
    
    
    
    
    
    
    
}


