/* 
    Document   : table
    Created on : Sep 15, 2013, 2:23:27 PM
    Author     : Hal 9000
    Description:
        Purpose of the stylesheet follows:

        Portrait tablet to landscape and desktop
*/

@media (min-width: 768px) and (max-width: 979px) { 

    
    
    
    
    
    
    
}


